body{
    font-family: Helvetica;
}

.AlTop{
    margin-top: 26px  ;
}
.RgWidthIdade{
    width: 80px ;
}
.sciName{
    width: 350px;
    margin-right: 40px;
}
.DataWidthSelect{
    width: 206.67px;
}
.fileWidthArea{
    width: 470px;
}
.adcInfo{
    width: 245px;
}
input:hover{
    background-color: #5161ce;
}
.aio{
    margin: 0 28px;
}
.aioL{
    padding-left: 33px;

}
.aioR{
    padding-right: 33px;
}
textarea{
    height: 91px;

}